{% extends 'base.html' %}
{% load i18n %}
{% load static %}
{% load crispy_forms_tags %}
{% load socialaccount %} {% block title %}Home{% endblock %}

{% block content %}
<style media="screen">
.fshrink {
  display: flex;
}
.shop-avatar {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}
</style>
<div class="container p-10">
  <div class="col-md-10 col-lg-8 offset-lg-2 offset-md-1">
    <div class="panel">
        {% load tz %}
        {% if chats.count == 0 %}
            <div class="panel panel-body">{% trans "There is not a single dialogue started" %}</div>
        {% endif %}
        {% for chat in chats %}
            {% if chat.message_set.count != 0 %}
                {% with last_message=chat.message_set.last %}
                    {% get_companion user chat as companion %}
                    <a class="list-group-item {% if companion == last_message.author and not last_message.is_readed %}unreaded{% endif %}" href="{{ chat.get_absolute_url }}">
                        <img class="avatar-messages" src="{{ companion.userprofile.get_avatar }}">
                        <div class="reply-body">
                            <ul class="list-inline">
                                <li class="drop-left-padding">
                                    <strong class="list-group-item-heading">{{ companion.username }}</strong>
                                </li>
                                <li class="pull-right text-muted"><small>{{ last_message.pub_date }}</small></li>
                            </ul>
                            {% if companion != last_message.author %}
                                <div>
                                    <img class="avatar-rounded-sm" src="{{ last_message.author.userprofile.get_avatar }}">
                                    <div class="attached-reply-body {% if not last_message.is_readed %}unreaded{% endif %}">{{ last_message.message|truncatechars_html:"200"|safe|striptags }}</div>
                                </div>
                            {% else %}
                                <div>{{ last_message.message|truncatechars_html:"200"|safe|striptags }}</div>
                            {% endif %}
                        </div>
                    </a>
                {% endwith %}
            {% endif %}
        {% endfor %}
    </div>
  <div>
    {% if not chat %}
        <div class="card card-body">
            {% trans "It's impossible to start a conversation.No user is found or you do not have access to this conversation." %}
        </div>
    {% else %}
        {% load tz %}
        {% if chat %}
            <div id="messages" class="panel">
                <div id="innerMessages">
                    {% for message in chat.message_set.all %}
                            {% include 'core/message.html' with message_item=message %}
                    {% endfor %}
                </div>
            </div>
        {% endif %}
        <div id="message_form">
            <form id="message-form" class="card card-body" method="post" >
                {% csrf_token %}
                {{ form | crispy }}
                <button type="submit" class="btn btn-default btn-sm" onclick="return ETextEditor.validateForm('message-form')"><span class="ico ico-comment"></span>{% trans "Отправить" %}</button>
            </form>
        </div>
    {% endif %}
<br><br><br>
  <div class="col-md-10 col-lg-8 offset-lg-2 offset-md-1">
<div class="card">
    <div class="card-body">
        <h5 class="card-title">YOU HAVE 5 NEW MESSAGES</h5>
        <div class="message-box">
            <div class="message-widget message-scroll">
                <!-- Message -->
                <a href="javascript:void(0)">
                    <div class="user-img">
                      <img src="{% static 'avatar.png' %}" alt="user" class="img-circle">
                      <span class="profile-status online pull-right"> </span>
                    </div>
                    <div class="mail-contnet">
                        <h5>Pavan kumar</h5>
                        <span class="mail-desc">Lorem Ipsum is simply dummy text of the printing and type setting industry. Lorem Ipsum has been.</span> <span class="time">9:30 AM</span> </div>
                </a>
                <!-- Message -->
                <a href="javascript:void(0)">
                    <div class="user-img"> <img src="{% static 'avatar.png' %}" alt="user" class="img-circle"> <span class="profile-status busy pull-right"></span> </div>
                    <div class="mail-contnet">
                        <h5>Sonu Nigam</h5> <span class="mail-desc">I've sung a song! See you at</span> <span class="time">9:10 AM</span> </div>
                </a>
                <!-- Message -->
                <a href="javascript:void(0)">
                    <div class="user-img"> <span class="round">A</span> <span class="profile-status away pull-right"></span> </div>
                    <div class="mail-contnet">
                        <h5>Arijit Sinh</h5> <span class="mail-desc">Simply dummy text of the printing and typesetting industry.</span> <span class="time">9:08 AM</span> </div>
                </a>
                <!-- Message -->
                <a href="javascript:void(0)">
                    <div class="user-img"> <img src="{% static 'avatar.png' %}" alt="user" class="img-circle"> <span class="profile-status offline pull-right"></span> </div>
                    <div class="mail-contnet">
                        <h5>Pavan kumar</h5> <span class="mail-desc">Just see the my admin!</span> <span class="time">9:02 AM</span> </div>
                </a>
                <!-- Message -->
                <a href="javascript:void(0)">
                    <div class="user-img"> <img src="{% static 'avatar.png' %}" alt="user" class="img-circle"> <span class="profile-status online pull-right"></span> </div>
                    <div class="mail-contnet">
                        <h5>Pavan kumar</h5> <span class="mail-desc">Welcome to the Elite Admin</span> <span class="time">9:30 AM</span> </div>
                </a>
                <!-- Message -->
                <a href="javascript:void(0)">
                    <div class="user-img"> <img src="{% static 'avatar.png' %}" alt="user" class="img-circle"> <span class="profile-status busy pull-right"></span> </div>
                    <div class="mail-contnet">
                        <h5>Sonu Nigam</h5> <span class="mail-desc">I've sung a song! See you at</span> <span class="time">9:10 AM</span> </div>
                </a>
            </div>
        </div>
    </div>
</div>
</div>
</div>
</div>
{% endblock content %}
