{% extends 'base.html' %}
{% load i18n %}
{% load static %}
{% load crispy_forms_tags %}
{% load socialaccount %} {% block title %}Home{% endblock %}

{% block content %}
<style media="screen">
.fshrink {
  display: flex;
}
.shop-avatar {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}
.message-avatar {
  width: 15px;
  height: 15px;
  border-radius: 50%;
}
</style>


<div class="container p-10">

<div class="col-md-10 col-lg-8 offset-lg-2 offset-md-1">
<div class="card">
  <div class="card-body">
      <h5 class="card-title">YOU HAVE 5 NEW MESSAGES</h5>
      <div class="message-box">
          <div class="message-widget message-scroll">
            {% load tz %}
            {% if chats.count == 0 %}
                <div class="panel panel-body">{% trans "There is not a single dialogue started" %}</div>
            {% endif %}
            {% for chat in chats %}
                {% if chat.message_set.count != 0 %}
                    {% with last_message=chat.message_set.last %}
                        {% get_companion user chat as companion %}
                        <!-- Message -->
                        <a href="{{ chat.get_absolute_url }}">
                            <div class="user-img">
                                <img src="{% static 'avatar.png' %}" alt="user" class="img-circle">
                              <!-- <img src="{{ companion.profile.avatar.url }}" alt="user" class="img-circle"> -->
                              <span class="profile-status online pull-right"> </span>
                            </div>
                            <div class="mail-contnet">
                                 <h5 class="font-weight-bold">{{ companion.username }}</h5>
                                <div class="fshrink">
                                  {% if companion != last_message.author %}
                                  <div class="mr-2">
                                     <img src="{{ last_message.author.profile.avatar.url }}" alt="user" class="img img-responsive img-circle message-avatar">
                                  </div>
                                  <div class="attached-reply-body {% if not last_message.is_readed %}font-weight-bold{% endif %}">
                                    <span class="mail-desc">{{ last_message.message|truncatechars_html:"100"|safe|striptags }}</span>
                                  </div>
                                  {% else %}
                                  <div class="attached-reply-body {% if not last_message.is_readed %}font-weight-bold{% endif %}">
                                    <span class="mail-desc">{{ last_message.message|truncatechars_html:"100"|safe|striptags }}</span>
                                  </div>
                                  {% endif %}
                                </div>
                              <span class="time">{{ last_message.pub_date }}</span>

                              </div>
                        </a>

                    {% endwith %}
                {% endif %}
            {% endfor %}

          </div>
      </div>
  </div>
</div>
</div>
</div>
{% endblock content %}
<a class="list-group-item {% if companion == last_message.author and not last_message.is_readed %}unreaded{% endif %}" href="{{ chat.get_absolute_url }}">
     <div class="reply-body">

        {% if companion != last_message.author %}
            <div>
                <img class="shop-avatar img img-responsive img-circle" src="{{ last_message.author.profile.avatar.url }}">
                <div class="attached-reply-body {% if not last_message.is_readed %}unreaded{% endif %}">{{ last_message.message|truncatechars_html:"200"|safe|striptags }}</div>
            </div>
        {% else %}
            <div>{{ last_message.message|truncatechars_html:"200"|safe|striptags }}</div>
        {% endif %}
    </div>
</a>
