{% extends 'base.html' %}
{% load i18n %}
{% load static %}
{% load socialaccount %}
{% block title %}Poducts{% endblock %}


<style media="screen">
.fshrink {
  display: flex;
}
.shop-avatar {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}
</style>

{% block content %}




<div class="container">
  <h2>Users</h2>

  <div class="list-group">
    {% for product in product.interaction.products %}
      <a href="{{ product.get_absolute_url }}" class="list-group-item">
        <h4 class="list-group-item-heading">{{ product.title }}</h4>
      </a>
    {% endfor %}
  </div>
</div>

<div class="container p-10">

  <div class="col-md-10 col-lg-8 offset-lg-2 offset-md-1">


    <div class="card">
      <div class="fshrink">
          <div class="d-flex m-2 align-items-center ">

            <img class="shop-avatar img img-responsive img-circle" src="{{product.shop.avatar.url}}" />

            <a class="w-100 ml-2 text-info" href="{{product.shop.get_absolute_url}}">{{product.shop.name}}</a>

          </div>
          <div class="ml-auto m-2">
            {%if 1%}
            <button type="button" class="btn btn-danger btn-circle">
              <i class="fa fa-plus-circle"></i> </button>
            {%else%}
            <button type="button" class="btn btn-secondary btn-circle">
              <i class="fa fa-plus-circle" aria-hidden="true"></i> </button>
            {%endif%}
          </div>
      </div>
      <div id="slide{{product.pk}}" class="carousel slide" data-ride="carousel">
         <ol class="carousel-indicators">
             <li data-target="#slide{{product.pk}}" data-slide-to="0" class="active"></li>
             <li data-target="#slide{{product.pk}}" data-slide-to="1" class=""></li>
             <li data-target="#slide{{product.pk}}" data-slide-to="2" class=""></li>
         </ol>
         <div class="carousel-inner" role="listbox">
             <div class="carousel-item active">
                 <img class="card-img-top img img-responsive" src="{{product.image.url}}" alt="Card image cap">

             </div>
             <div class="carousel-item">
                <img class="card-img-top img img-responsive" src="{{product.image.url}}" alt="Card image cap">

             </div>
             <div class="carousel-item">
                 <img class="card-img-top img img-responsive" src="{{product.image.url}}" alt="Card image cap">

             </div>
         </div>
         <a class="carousel-control-prev" href="#slide{{product.pk}}" role="button" data-slide="prev">
             <span class="carousel-control-prev-icon" aria-hidden="true"></span>
             <span class="sr-only">Previous</span>
         </a>
         <a class="carousel-control-next" href="#slide{{product.pk}}" role="button" data-slide="next">
             <span class="carousel-control-next-icon" aria-hidden="true"></span>
             <span class="sr-only">Next</span>
         </a>
     </div>
      <div class="card-body">
        <h4 class="card-title">Card title</h4>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>


      </div>
      <div class="p-2 fshrink border-top">
        <div class="">
          {% if activity %}
          <button id='likeed' type="button" class="btn btn-danger btn-circle" data-id="{{ product.id }}" data-type="activity" data-action="like" title="Like">
            <i class="fa fa-heart"></i> </button>

          {% else %}
          <button id='likeed' type="button" class="btn btn-secondary btn-circle" data-id="{{ product.id }}" data-type="activity" data-action="like" title="Like">
            <i class="fa fa-heart"></i> </button>
          {% endif %}

        </div>
          <div class="w-100 text-center">
            <h4 class="text-info">{{product.price}} MRU </h4>
          </div>
          <div class="">
            <button type="button" class="btn btn-secondary btn-circle">
              <i class="fa fa-commenting"></i>
            </button>
          </div>
      </div>

      <div class="p-2 fshrink border-top">

  <div class="d-flex">
    <i class="fa fa-heart p-2" data-count="like"> {{ product.count }}</i>

    <i class="fa fa-eye p-2" aria-hidden="true"> 555 </i>
  </div>
        <div class="ml-auto">
    <button class="btn btn-secondary btn-circle" type="button" data-toggle="collapse" data-target="#{{product.pk}}" aria-expanded="false" aria-controls="{{product.pk}}">
    <i class="fa fa-info-circle" aria-hidden="true"></i>
    </button>
    </div>
      </div>
      <div class="collapse p-2" id="{{product.pk}}">
       hig  craft beer labore  wes anderson cred nesciunt sapiente ea proident.
      </div>
    </div>


  </div>
  {{product.title}}






</div>

<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
<script type="text/javascript">
function like(){
  var like = $(this);
  var type = like.data('type');
  var pk = like.data('id');
  var action = like.data('action');

  $.ajax({
      url : "/core/" + type +"/" + pk + "/" + action + "/",
      type : 'GET',
      data : { 'obj' : pk },

      success : function (json) {

          if (json.liked) {
              $("#likeed").removeClass("btn-secondary").addClass("btn-danger");
          } else {
              $("#likeed").removeClass("btn-danger").addClass("btn-secondary");
          }
          $('[data-count="like"]').text(" " +json.like_count);

      }
  });

  return false;
}
// Connecting Handlers
$(function() {
  $('[data-action="like"]').click(like);
});
</script>
{% endblock %}
