{% extends "base.html" %}
{% load crispy_forms_tags %}
{% load i18n %}
{% load static %}
{% block title %}{% endblock %}
{% block content %}
<div class="container">
  <br>
    <div class="row justify-content-center">
        <div class="col-sm-10 col-md-8 col-lg-6">
          <div class="card">
            <div class="card-body">
            <h3 class="card-title text-center">{% trans "New Product" %}</h3>
            <form method="POST" enctype="multipart/form-data">
              {% csrf_token %}
              {{ form | crispy }}
              <p> <button type="submit" class="btn btn-info btn-block">{% trans "Create" %}</button>
              </p>
              </form>
          </div>
        </div>
      </div>
    </div>
  </div>
 
  

{% endblock %}
