{% extends "base.html" %}
{% load crispy_forms_tags %}
{% load i18n %}
{% load static %}
{% block title %}{% endblock %}

{% block content %}
 <br>
      <div class="container">
          <div class="row justify-content-center">
              <div class="col-sm-10 col-md-8 col-lg-6">
                <div class="card">
                  <div class="card-body">
                  <h3 class="card-title text-center">{% trans "Update" %}</h3>
                  <form method="POST" enctype="multipart/form-data">
                    {% csrf_token %}
                    {{ form | crispy }}
                    <p> <button type="submit" class="btn btn-info btn-block">{% trans "Update" %}</button>
                    </p>
                    </form>
                </div>
              </div>
            </div>
          </div>
        </div>
{% endblock %}
