{% extends 'base.html' %}
{% load i18n %}
{% load static %}
{% load socialaccount %}
{% block title %}Poducts{% endblock %}
{% block content %}


<style media="screen">
.fshrink {
  display: flex;
}
.shop-avatar {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}
</style>


<div class="container p-10">

  <div class="col-md-10 col-lg-8 offset-lg-2 offset-md-1">
    {% for product in product_list %}

    <div class="card">
      <div class="fshrink">
          <div class="d-flex m-2 align-items-center ">

            <img class="shop-avatar img img-responsive img-circle" src="{{product.shop.avatar.url}}" />

            <a class="w-100 ml-2 text-info" href="{{product.shop.get_absolute_url}}">{{product.shop.name}}</a>

          </div>
          
      </div>
      <div id="slide{{product.pk}}" class="carousel slide" data-ride="carousel">
    <img class="card-img-top img img-responsive" src="{{product.image.url}}" alt="Card image cap">
          
     </div>
      <div class="card-body">
        <h4 class="card-title">{{product.title}}</h4>
        <p class="card-text">{{product.description}}</p>
      </div>
      <div class="p-2 fshrink border-top">
         
          <div class="w-100 text-center">
            <h4 class="text-info">{{product.price}} MRU </h4>
          </div>
          
      </div>
  
    </div>

     {% endfor %}
  </div>

</div>




<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
 
{% endblock %}
