{% load i18n %}
{% load static %}

{% if  request.user.is_shopowner %}
<div class="card">

    <div class="fshrink">
        <div class="d-flex m-2 align-items-center ">
          <img class="shop-avatar img img-responsive img-circle" src="{{user.shop.avatar.url}}" />
          <a class="w-100 ml-2 text-info" href=""> {{user.shop.name}} </a>
        </div>

        <div class="ml-auto m-2">
            {% if object == request.user %} 
            <a href="{{request.user.shop.get_update_url}}" class="btn btn-circle btn-outline-secondary"><i class="fa fa-pencil" aria-hidden="false"></i></a>
            {% endif %}
           
        </div>
    </div>
    <img class="card-img-top img img-responsive" src="{{user.shop.image.url}}" alt="Card image cap">
    <div class="card-body">
      <p class="card-text">{{user.shop.description}}</p>
    </div>
    <div class="p-2 fshrink border-top">
      <div class="ml-auto">
        <div class="text-center">
          <h4 class="text-info">{{user.shop.phone}}</h4>
        </div>
      </div>
      <div class="ml-auto">
         
        <button class="btn btn-secondary btn-circle btn-sm" type="button" data-toggle="collapse" data-target="#{{user.shop.pk}}" aria-expanded="false" aria-controls="{{product.pk}}">
        <i class="fa fa-map-marker" aria-hidden="true"></i>
        </button>
      </div>
    </div>
    <div class="collapse p-2" id="{{user.shop.pk}}">
        {{user.shop.address}}
    </div>
</div>
<br>

<div class="card">

    <div class="p-2 fshrink border-top">
        <div class="ml-auto">
            <h3><span class="badge badge-pill badge-success">{% trans "Products" %}</span></h3>
        </div>
        <div class="ml-auto">   
          <a href="{% url 'core:product-create' %}" class="btn btn btn-warning btn-circle"><i class="fa fa-plus-square" aria-hidden="false"></i></a>
        </div>
      </div>
  
  </div>
  

{% for product in user.shop.products.all %}
<div class="card">

    <div id="slide{{product.pk}}" class="carousel slide" data-ride="carousel">
        <img class="card-img-top img img-responsive" src="{{product.image.url}}" alt="Card image cap">
              
         </div>
  <div class="card-body">
    <h4 class="card-title">{{product.title}}</h4>
    <p class="card-text">{{product.description}}</p>
  </div>
  <div class="p-2 fshrink border-top">
    <div class="ml-auto">
      <div class="w-100 text-center">
          <div class="fshrink">
              
              <div class="pt-2 ml-auto">   
                  <h4 class="text-info">{{product.price}} MRU </h4>
              </div>
              {% if product.is_hidden %}
              <div class="ml-auto">
                  <h3><span class="badge badge-warning badge-pill">{% trans "Hidden" %}</span></h3>
              </div>
              {% else %}
              {% endif %}
            </div>
         
        
      </div>
       
    </div>
      <div class="ml-auto"> 
          <a href="{% url 'core:product-update' product.pk %}" class="btn btn-circle btn-outline-secondary"><i class="fa fa-pencil" aria-hidden="false"></i></a>
      </div>
  </div>
   
</div>
 
 {% endfor %}
{% else %}
{% endif %}
 
