<div class="card">
  <div class="fshrink">
      <div class="d-flex m-2 align-items-center">
        <img class="shop-avatar img img-responsive img-circle" src="{{request.user.profile.avatar.url}}" />
        <a class="w-100 ml-2 text-info" href="{{user.get_absolute_url}}">{{request.user}}</a>
      </div>
      <div class="ml-auto m-2">
        <a href="{{request.user.get_update_url}}" class="btn btn-circle btn-outline-secondary"><i class="fa fa-pencil" aria-hidden="false"></i></a>
      </div>
  </div>
   
   
      

 </div>
