{% extends 'base.html' %}
{% load i18n %}
{% load static %}
{% load socialaccount %} {% block title %}Home{% endblock %}

{% block content %}
<style media="screen">
.fshrink {
  display: flex;
}
.shop-avatar {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}
</style>
<div class="container p-10">

  <div class="col-md-10 col-lg-8 offset-lg-2 offset-md-1">
    <div class="card">

      <div class="fshrink">
          <div class="d-flex m-2 align-items-center ">
            <img class="shop-avatar img img-responsive img-circle" src="{{usershop.avatar.url}}" /> 
            <a class="w-100 ml-2 text-info" href=""> {{usershop.name}} </a>
          </div>

          
      </div>
       
      <img class="card-img-top img img-responsive" src="{{usershop.image.url}}" alt="Card image cap">
      <div class="card-body">
        <p class="card-text">{{usershop.description}}</p>
      </div>
      <div class="p-2 fshrink border-top">
        <div class="w-50 text-center">
          <div class="text-center">
            <h4 class="text-info">{{usershop.phone}}</h4>
          </div>
        </div>
        <div class="ml-auto">
           
          <button class="btn btn-secondary btn-circle btn-sm" type="button" data-toggle="collapse" data-target="#{{usershop.pk}}" aria-expanded="false" aria-controls="{{product.pk}}">
          <i class="fa fa-map-marker" aria-hidden="true"></i>
          </button>
        </div>
      </div>
      <div class="collapse p-2" id="{{usershop.pk}}">
          {{usershop.address}}
      </div>
  </div>
  </div>

  <div class="col-md-10 col-lg-8 offset-lg-2 offset-md-1">
 
      <div class="card text-center card-title">
         <div class="pt-2 text-center">  
             <h3><span class="badge badge-pill badge-success">{% trans "Products" %}</span></h3>
       </div>
      </div>
    </div>


<div class="col-md-10 col-lg-8 offset-lg-2 offset-md-1">
  {% for product in usershop.products.all %}

  <div class="card">
       
      <div id="slide{{product.pk}}" class="carousel slide" data-ride="carousel">
          <img class="card-img-top img img-responsive" src="{{product.image.url}}" alt="Card image cap">
                
           </div>
      <div class="card-body">
        <h4 class="card-title">{{product.title}}</h4>
        <p class="card-text">{{product.description}}</p>
      </div>
      <div class="p-2 fshrink border-top">
         
          <div class="w-100 text-center">
            <h4 class="text-info">{{product.price}} MRU </h4>
          </div>
          
      </div>
  
    </div>


   {% endfor %}
</div>
</div>


  {% endblock %}
