{% extends 'base.html' %}
{% load i18n %}
{% load static %}
{% load socialaccount %}
{% block title %}Poducts{% endblock %}
{% block content %}


<style media="screen">
.fshrink {
  display: flex;
}
.shop-avatar {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}
</style>


<div class="container p-10">
    <div class="col-md-10 col-lg-8 offset-lg-2 offset-md-1">
 
        <div class="card text-center card-title">
           <div class="pt-2 text-center">  
               <h3><span class="badge badge-pill badge-success">{% trans "All shops" %}</span></h3>
         </div>
        </div>
      </div>
  <div class="col-md-10 col-lg-8 offset-lg-2 offset-md-1">
    {% for usershop in usershop_list %} 
        <div class="card">
    
          <div class="fshrink">
              <div class="d-flex m-2 align-items-center ">
                <img class="shop-avatar img img-responsive img-circle" src="{{usershop.avatar.url}}" /> 
                <a class="w-100 ml-2 text-info" href="{{usershop.get_absolute_url}}"> {{usershop.name}} </a>
              </div>
          </div> 
          <img class="card-img-top img img-responsive" src="{{usershop.image.url}}" alt="Card image cap">
          <div class="card-body">
            <p class="card-text">{{usershop.description}}</p>
          </div>
          
           
      </div>
        
{% endfor %}
    </div>


  </div>

 




<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

{% endblock %}
