
{% extends 'base.html' %}
{% load i18n %}
{% load static %}
{% load socialaccount %}
{% block title %}Poducts{% endblock %}
{% block content %}


<form method="post">{% csrf_token %}
    <p>Are you sure you want to delete "{{ object }}"?</p>
    <input type="submit" value="Confirm">
</form>

{% endblock %}
