{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block title %}{% endblock %}

{% block content %}
<div class="row justify-content-center">
    <div class="col-sm-10 col-md-6 col-lg-4">
      <div class="card">
        <div class="card-body">
        <h3 class="card-title text-center"> New Product </h3>
        <form method="POST" enctype="multipart/form-data">
            {% csrf_token %}
              {{ form | crispy }}
              <input type="submit" value="Create">
          </form>
      </div>
    </div>
  </div>
</div>

{% endblock %}
