{% extends "account/base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Account Inactive" %}{% endblock %}

{% block inner %}
<br>
<div class="container">
    <div class="row justify-content-center">
            <div class="col-sm-12 col-md-10 col-lg-6">
            <div class="card">
                <div class="card-body"> 
                    <h3 class="card-title text-center">{% trans "Account Inactive" %}</h3>
                    
                    <p>{% trans "This account is inactive." %}</p>
              </div>
            </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}

