{% extends "base.html" %} {% block title %}{% block head_title %}{% endblock head_title %}{% endblock title %} {% block content %}
<div class="row">
  <div class="col-md-10 offset-md-1">
    {% block inner %}{% endblock %}
  </div>
</div>
{% endblock %}