{% extends "account/base.html" %} {% load i18n %} 

<div class="col-sm-12 col-md-10 col-lg-6"></div>

{% load account %} 

{% block head_title %}{% trans "Confirm E-mail Address" %}{% endblock %} 


{% block inner %}
<br>
<div class="container">
    <div class="row justify-content-center">
            <div class="col-sm-12 col-md-10 col-lg-6">
            <div class="card">
                <div class="card-body"> 
                    <h3 class="card-title text-center">{% trans "Confirm E-mail Address" %}</h3>
                    
                     
                    {% if confirmation %} 
                    
                    {% user_display confirmation.email_address.user as user_display %}

  <p>{% blocktrans with confirmation.email_address.email as email %}Please confirm that <a class="text-info" href="mailto:{{ email }}">{{ email }}</a> is an e-mail address for user {{ user_display }}.{% endblocktrans %}</p>

<form method="post" action="{% url 'account_confirm_email' confirmation.key %}">
  {% csrf_token %}
  <button class="btn btn-success btn-block" type="submit">{% trans 'Confirm' %}</button>
</form>

{% else %} 
{% url 'account_email' as email_url %}

<p>{% blocktrans %}This e-mail confirmation link expired or is invalid. Please <a href="{{ email_url }}">issue a new e-mail confirmation request</a>.{% endblocktrans %}</p>

{% endif %}
              </div>
            </div>
        </div>
      </div>
    </div>
  </div>
  
 {% endblock %}