{% extends "account/base.html" %}

{% load i18n %}
{% load account socialaccount %}
{% load crispy_forms_tags %}

{% block head_title %}{% trans "Sign In" %}{% endblock %}

{% block inner %}
<br>
<div class="container">
    <div class="row justify-content-center">
        <div class="col-sm-12 col-md-10 col-lg-6">
            <div class="card">
                <div class="card-body"> 
                    <h3 class="card-title text-center">{% trans "Sign In" %}</h3>
                    <p>{% blocktrans %}If you have not created an account yet, then please
                    <a class="text-info" href="{{ signup_url }}">sign up</a> first.{% endblocktrans %}</p>
                    <form class="login" method="POST" action="{% url 'account_login' %}">
                      {% csrf_token %}
                      {{ form|crispy }}
                      {% if redirect_field_value %}
                      <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
                      {% endif %}
                       <div class="pb-4">
                          <a class="button text-info" href="{% url 'account_reset_password' %}">{% trans "Forgot Password?" %}</a>
                       </div>
                      <button class="btn btn-success btn-block" type="submit">{% trans "Sign In" %}</button>
                    </form>   
              </div>
            </div>
        </div>
      </div>
    </div>
  </div>


{% endblock %}
