{% extends "account/base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Sign Out" %}{% endblock %}

{% block inner %}
<br>
<div class="container">
    <div class="row justify-content-center">
        <div class="col-sm-12 col-md-10 col-lg-6">
            <div class="card">
                <div class="card-body"> 
                    <h3 class="card-title text-center">{% trans "Sign Out" %}</h3>
                    <p>{% trans 'Are you sure you want to sign out?' %}</p>

                    <form method="post" action="{% url 'account_logout' %}">
                      {% csrf_token %}
                      {% if redirect_field_value %}
                      <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}"/>
                      {% endif %}
                      <button class="btn btn-danger btn-bock" type="submit">{% trans 'Sign Out' %}</button>
                    </form>     
              </div>
            </div>
        </div>
      </div>
    </div>
  </div>

 




{% endblock %}

