{% extends "account/base.html" %}

{% load i18n %}
{% load crispy_forms_tags %}
{% block head_title %}{% trans "Change Password" %}{% endblock %}

{% block inner %}
<br>
<div class="container">
        <div class="row justify-content-center">
                <div class="col-sm-12 col-md-10 col-lg-6">
                <div class="card">
                    <div class="card-body">
                            <h3 class="card-title text-center">
                                 
                                {% if token_fail %}
                                {% trans "Bad Token" %}
                                
                                {% else %}{% trans "Change Password" %}{% endif %}
                            
                            </h3>
                            {% if token_fail %}
                                {% url 'account_reset_password' as passwd_reset_url %}

                                <p>{% blocktrans %}The password reset link was invalid, possibly because it has already been used.  Please request a <a class="text-info" href="{{ passwd_reset_url }}">new password reset</a>.{% endblocktrans %}</p>
                            {% else %}
                                {% if form %}
                                    <form method="POST" action=".">
                                        {% csrf_token %}
                                        {{ form|crispy }}
                                        <input class="btn btn-success btn-block" type="submit" name="action" value="{% trans 'change password' %}"/>
                                    </form>
                                {% else %}
                                    <p>{% trans 'Your password is now changed.' %}</p>
                                {% endif %}
                            {% endif %}
                        </div>
                </div>
            </div>
          </div>
        </div>

 
{% endblock %}

