{% extends "account/base.html" %}

{% load i18n %}
{% load crispy_forms_tags %}

{% block head_title %}{% trans "Change Password" %}{% endblock %}

{% block inner %}
<br>
<div class="container">
        <div class="row justify-content-center">
                <div class="col-sm-12 col-md-10 col-lg-6">
                <div class="card">
                    <div class="card-body">
                            <h3 class="card-title text-center">{% trans "Change Password" %}</h3>
                            <form method="POST" action="{% url 'account_change_password' %}" class="password_change">
                                    {% csrf_token %}
                                    {{ form|crispy }}
                                    <button class="btn btn-success btn-block" type="submit" name="action">{% trans "Change Password" %}</button>
                                </form>
                        </div>
                </div>
            </div>
          </div>
        </div>

     
{% endblock %}

