{% extends "account/base.html" %}

{% load i18n %}
{% load account %}
{% load crispy_forms_tags %}

{% block head_title %}{% trans "Password Reset" %}{% endblock %}

{% block inner %}
<br>

<div class="container">
        <div class="row justify-content-center">
                <div class="col-sm-12 col-md-10 col-lg-6">
                <div class="card">
                    <div class="card-body">
                            <h3 class="card-title text-center">{% trans "Password Reset" %}</h3>
                            {% if user.is_authenticated %}
                            {% include "account/snippets/already_logged_in.html" %}
                            {% endif %}
                        
                            <p>{% trans "Forgotten your password? Enter your e-mail address below, and we'll send you an e-mail allowing you to reset it." %}</p>
                        
                            <form method="POST" action="{% url 'account_reset_password' %}" class="password_reset">
                                {% csrf_token %}
                                {{ form|crispy }}
                                <input class="btn btn-success btn-block" type="submit" value="{% trans 'Reset My Password' %}" />
                            </form>
                        <br>
                            <p>{% blocktrans %}Please contact us if you have any trouble resetting your password.{% endblocktrans %}</p>
    
                    
                  </div>
                </div>
            </div>
          </div>
        </div>
    
{% endblock %}

