{% extends "account/base.html" %}

{% load i18n %}
{% load account %}

{% block head_title %}{% trans "Password Reset" %}{% endblock %}

{% block inner %}
    
 <br>
    
    <div class="container">
            <div class="row justify-content-center">
                    <div class="col-sm-12 col-md-10 col-lg-6">
                    <div class="card">
                        <div class="card-body">
                                <h3 class="card-title text-center">{% trans "Password Reset" %}</h3>
                                {% if user.is_authenticated %}
                                {% include "account/snippets/already_logged_in.html" %}
                                {% endif %}
                                <p>{% blocktrans %}We have sent you an e-mail. Please contact us if you do not receive it within a few minutes.{% endblocktrans %}</p>
                      </div>
                    </div>
                </div>
              </div>
            </div>



    {% endblock %}
