{% extends "account/base.html" %}

{% load i18n %}
{% load crispy_forms_tags %}

{% block head_title %}{% trans "Set Password" %}{% endblock %}

{% block inner %}
<br>

    <div class="container">
            <div class="row justify-content-center">
                    <div class="col-sm-12 col-md-10 col-lg-6">
                    <div class="card">
                        <div class="card-body">
                                <h3 class="card-title text-center">{% trans "Set Password" %}</h3>
                                 
                                <form method="POST" action="{% url 'account_set_password' %}" class="password_set">
                                        {% csrf_token %}
                                        {{ form|crispy }}
                                        <input class="btn btn-success btn-block" type="submit" name="action" value="{% trans 'Set Password' %}"/>
                                    </form>
                            </div>
                    </div>
                </div>
              </div>
            </div>
{% endblock %}

