{% extends "account/base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Sign Up Closed" %}{% endblock %}

{% block inner %}

<br>

<div class="container">
        <div class="row justify-content-center">
                <div class="col-sm-12 col-md-10 col-lg-6">
                <div class="card">
                    <div class="card-body">
                            <h3 class="card-title text-center">{% trans "Sign Up Closed" %}</h3>
       
                            <p>{% trans "We are sorry, but the sign up is currently closed." %}</p>
                            
                  </div>
                </div>
            </div>
          </div>
        </div>
    
{% endblock %}

