{% extends "account/base.html" %}

{% load i18n %}
{% load crispy_forms_tags %}
 
{% block head_title %}{% trans "Sign Up" %}{% endblock %}
{% block inner %}
<br>
<div class="container">
    <div class="row justify-content-center">
        <div class="col-sm-12 col-md-10 col-lg-6">
            <div class="card">
                <div class="card-body">
                <h3 class="card-title text-center">{% trans "Sign Up" %}</h3>
                <p>{% blocktrans %}Already have an account?, then please <a class="text-info" href="{{ login_url }}">sign in</a>.{% endblocktrans %}</p>
                <form class="signup" id="signup_form" method="post" action="{% url 'account_signup' %}">
                    {% csrf_token %}
                    {{ form|crispy }}
                    {% if redirect_field_value %}
                    <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
                    {% endif %}
                    <button class="btn btn-success btn-block" type="submit">{% trans "Sign Up" %}</button>
                  </form>
              </div>
            </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}

