{% extends "account/base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Verify Your E-mail Address" %}{% endblock %}

{% block inner %}
<br>
    <div class="container">
            <div class="row justify-content-center">
                    <div class="col-sm-12 col-md-10 col-lg-6">
                    <div class="card">
                        <div class="card-body">
                                <h3 class="card-title text-center">{% trans "Verify Your E-mail Address" %}</h3>
                                 
                               

                                <p>{% blocktrans %}We have sent an e-mail to you for verification. Follow the link provided to finalize the signup process. Please contact us if you do not receive it within a few minutes.{% endblocktrans %}</p>
                                
                            </div>
                    </div>
                </div>
              </div>
            </div>
{% endblock %}

