{% extends "base.html" %}
{% load static i18n %}
{% block title %}Page not found{% endblock %}

{% block content %} 
<br>
<div class="container">
        <div class="card">
                <div class="error-box">
                        <div class="error-body text-center">
                            <h1>404</h1>
                            <h3 class="text-uppercase">{% trans "Page Not Found !" %}</h3>
                            <p class="text-muted m-t-30 m-b-30">{% trans "YOU SEEM TO BE TRYING TO FIND HIS WAY HOME" %}</p>
                            <a href="{% url 'home' %}" class="btn btn-info btn-rounded waves-effect waves-light m-b-40">{% trans "Back to home" %}</a> </div>
                    </div>
        </div>
</div>


{% endblock content %}
