{% extends "base.html" %}

{% block title %}Server Error{% endblock %}
{% load static i18n %}
{% block content %}

<br>
<div class="container">
    <div class="card">
            <section id="wrapper" class="error-page">
                    <div class="error-box">
                        <div class="error-body text-center">
                            <h1>500</h1>
                            <h3 class="text-uppercase">{% trans "Internal Server Error !" %}</h3>
                            <h3>{% trans "Looks like something went wrong!" %}</h3>
                            <p class="text-muted m-t-30 m-b-30">{% trans "We track these errors automatically, but if the problem persists feel free to contact us. In the meantime, try refreshing." %}
                                </p>
                                <a href="{% url 'home' %}" class="btn btn-info btn-rounded waves-effect waves-light m-b-40">{% trans "Back to home" %}</a> </div>
                        
                    </div>
                </section>
    </div>
</div>

 {% endblock content %}


