{% load static i18n %}
{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
  {% include "head.html" %}
<body>
  {% include "navbar.html" %}

  <main role="main">
    {% block content %}

    {% endblock %}
  </main> 
  {% include "footer_imports.html" %}
</body>
</html>
