{% load static i18n %}
{% load staticfiles %}
<head>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <title>{% block title %}MAURISOK{% endblock title %}</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="">
  <meta name="author" content="">
 
  <link rel="icon" href="{% static 'images/favicons/favicon.ico' %}">
  {% block css %}
  <!-- Latest compiled and minified Bootstrap 4.1.1 CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

  <!-- Your stuff: Third-party CSS libraries go here -->
  <link href="{% static 'css/style.css' %}" rel="stylesheet">
  <!-- This file stores project-specific CSS -->
  <link href="{% static 'css/shiny24.css' %}" rel="stylesheet">
  <link href="{% static 'css/custom.css' %}" rel="stylesheet">
  <link href="{% static 'css/pages/error-pages.css' %}" rel="stylesheet">
   

   {% endblock %}
</head>
