{% load i18n %}
{% load static %}
{% load staticfiles %}
{% load socialaccount %}
<div class="container">
<nav class="navbar navbar-expand-md navbar-dark py-0 bg-success justify-content-center">
     <a class="navbar-brand mr-auto" href="{% url 'home' %}">MAURISOUQ</a>
      
     {% get_current_language as LANGUAGE_CODE %}
     {% get_language_info for LANGUAGE_CODE as language %}
     <ul class="nav navbar-nav mx-1">
         <li class="nav-item dropdown">
             <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
               {% if false %}
               {% if language.code == "en"%}
                <i class="cf-24 cf-us"></i>
               {% elif language.code == "ar"%}
                  <i class="cf-24 cf-sa"></i>
               {% else %}
                <i class="cf-24 cf-fr"></i>
               {% endif %}
               {% else %}
               {{ language.code }}
               {% endif %}
             </a>
             <div class="dropdown-menu" aria-labelledby="navbarDropdown">
               {% get_current_language as LANGUAGE_CODE %}
               {% get_available_languages as LANGUAGES %}
               {% get_language_info_list for LANGUAGES as languages %}
               {% for language in languages %}
                 {% if not LANGUAGE_CODE == language.code %}
                   <form name="language{{language.code}}" action="{% url 'set_language' %}" method="post">{% csrf_token %}
                     <input name="next" type="hidden" value="{{ redirect_to }}" />
                     <input name="language" type="hidden" value="{{language.code}}" />
                     <a class="dropdown-item" href="javascript:document.language{{language.code}}.submit()"> {{ language.name_local }} </a>
                   </form>
                 {% endif %}
               {% endfor %}
             </div>
         </li>
     </ul>

     <ul class="navbar-nav mx-1">
       <li class="nav-item">
       {% if request.user.is_authenticated %}
         <a class="nav-link" href="{% url 'account_logout' %}">{% trans "Sign Out" %}</a>
         {% else %}
          <a class="nav-link" href="{% url 'account_login' %}">{% trans "Sign In" %}</a>
         {% endif %}
        </li>
     </ul>

     <button class="navbar-toggler ml-lg-0" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
         <span class="navbar-toggler-icon"></span>
     </button>

</nav>
   <nav class="navbar navbar-expand-md navbar-dark bg-info">
       <div class="collapse navbar-collapse" id="navbarSupportedContent">
           <ul class="navbar-nav nav-pills nav-fill w-100 nav-justified mx-auto">
               <li class="nav-item {% if request.resolver_match.url_name == "product-list" %}active{% endif %}">
                   <a class="nav-link" href="{% url 'core:product-list' %}">{% trans "Home"%}</a>
               </li>
                
               <li class="nav-item {% if request.resolver_match.url_name == "usershop-list" %}active{% endif %}">
                 <a class="nav-link" href="{% url 'core:usershop-list' %}">{% trans "Shops"%}</a>
               </li>
               {% if request.user.is_authenticated %}
               {% if request.user.is_shopowner and request.user.profile%}
               {% if request.user.profile %}
               <li class="nav-item {% if request.resolver_match.url_name == "detail" %}active{% endif %}">
                 <a class="nav-link" href="{{ request.user.get_absolute_url }}">{% trans "Profile"%}</a>
               </li>
               {% endif %}
               
               {% endif %}
                
               {% endif %}
           </ul>
       </div>
   </nav>
</div>
