.elevate {
  cursor: pointer;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  transition: all .5s;
}

.card-face__bullet {
  background-color: #02C39A;
  color: #FFF;
  display: block;
  border-radius: 50%;
  width: 23px;
  height: 23px;
  box-sizing: border-box;
  line-height: 1.2;
  text-align: center;
  font-size: 5px;
  position: absolute;
  top: 1px;
  right: 0;
  box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.27);
  font-weight: bold;
}

.check {
  display: -webkit-box;
  display: -moz-box;
  display: box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.check:after {
  /*Add another block-level blank space*/
  content: '';
  display: block;
  margin-top: -0.5em;
  /*Make it a small rectangle so the border will create an L-shape*/
  width: 1.6em;
  height: 2.8em;
  /*Add a white border on the bottom and left, creating that 'L' */
  border: solid #fff;
  border-width: 0 .4em .4em 0;
  /*Rotate the L 45 degrees to turn it into a checkmark*/
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

.co {
  background-color: coral;
}

.card-face__avatar {
  display: block;
  width: 55px;
  height: 55px;
  position: relative;
  -webkit-transform: scale(1.2, 1.2);
  transform: scale(1.2, 1.2);
  opacity: 0;
  -webkit-animation: avatar 1.5s;
  animation: avatar 0s;
  -webkit-animation-delay: 200ms;
  animation-delay: 200ms;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation-timing-function: cubic-bezier(0.23, 1, 0.32, 1);
  animation-timing-function: cubic-bezier(0.23, 1, 0.32, 1);
}

.image {
  position: relative;
  overflow: hidden;
  padding-bottom: 100%;
}

.image img {
  position: absolute;
}

.card-face__avatar img {
  border-radius: 50%;
}

.card-face__stats {
  display: block;
  margin: 5px 0;
}

@keyframes avatar {
  from {
    -webkit-transform: scale(1.2, 1.2);
    transform: scale(1.2, 1.2);
    opacity: 0;
  }
  to {
    -webkit-transform: scale(1, 1);
    transform: scale(1, 1);
    opacity: 1;
  }
}
.navbar-expand-md .navbar-nav .dropdown-menu {
    position: absolute !important;
}

.fshrink {
  display: flex;
}
.shop-avatar {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}
