{% extends 'base.html' %}
{% load i18n %}
{% load static %}
{% load socialaccount %} {% block title %}Home{% endblock %}

{% block content %}
<style media="screen">
.fshrink {
  display: flex;
}
.shop-avatar {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}
</style>
<div class="container p-10">

  <div class="col-md-10 col-lg-8 offset-lg-2 offset-md-1">
      {% if object == request.user %}
      {% include "core/user_profile.html" %}
      {% include "core/shopowner_profile.html" %}
      {% else %}
      <p>You don't have aceess to this page</p>
      {% endif %}
    

  </div>
    <div class="col-md-10 col-lg-8 offset-lg-2 offset-md-1">


   


  


</div>
</div>
{% endblock content %}
