{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block title %}{{ object }}{% endblock %}

{% block content %}

  <h1>{{ object }}</h1>

  <form method="post">{% csrf_token %}
      <p>Are you sure you want to delete "<h1>{{ object.name }}</h1>"?</p>
      <input type="submit" value="Confirm">
  </form>
{% endblock %}
