{% extends "base.html" %}
{% load i18n %}
{% load static %}
{% load socialaccount %}
{% block title %}Members{% endblock %}
{% block content %}


<style media="screen">
.fshrink {
  display: flex;
}
.shop-avatar {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}
</style>


<div class="container p-10">

  {% if request.user.is_superuser %}
  <div class="col-md-10 col-lg-8 offset-lg-2 offset-md-1">
      <div class="card text-center card-title">
         <div class="pt-2 text-center">  
             <h3><span class="badge badge-pill badge-success">{% trans "Approved users" %}</span></h3>
       </div>
      </div>
    
     {% for user in user_list %}
      
     {% if user.is_shopowner %}
     <div class="card">
         <div class="fshrink">
             <div class="d-flex m-2 align-items-center ">
               <img class="shop-avatar img img-responsive img-circle" src="{{user.profile.avatar.url}}" />
   
               <a class="w-100 ml-2 text-info">{{user.username}}</a>
             </div>
             <div class="m-2 ml-auto">
                 {% if user.is_shopowner %}
                 <a class="btn btn-danger btn-rounded" href="{% url 'core:user-revoke' user.pk %}">{% trans "Revoke" %}</a>
                 {% else %}
                 <a class="btn btn-success btn-rounded" href="{% url 'core:user-approve' user.pk %}">{% trans "Approve" %}</a>
                 {% endif %}
             </div>
         </div>
         
       </div>
     {% else %}
     {% endif %}
 
      {% endfor %}
   </div>
   <div class="col-md-10 col-lg-8 offset-lg-2 offset-md-1">
    
       <div class="card text-center card-title">
          
          <div class="pt-2 text-center">  
              <h3><span class="badge badge-pill badge-info">{% trans "Pending users" %}</span></h3>
        </div>
       </div>
     {% for user in user_list %}
      
    {% if not user.is_shopowner %}
    <div class="card">
        <div class="fshrink">
            <div class="d-flex m-2 align-items-center ">
              <img class="shop-avatar img img-responsive img-circle" src="{{user.profile.avatar.url}}" />
   
              <a class="w-100 ml-2 text-info">{{user.username}}</a>
            </div>
            <div class="m-2 ml-auto">
                 
                <a class="btn btn-success btn-rounded" href="{% url 'core:user-approve' user.pk %}">{% trans "Approve" %}</a>
                 
            </div>
        </div>
        
      </div>
    {% else %}
    {% endif %}
  
      {% endfor %}
   </div>
  {% else %} 
  <div class="col-md-10 col-lg-8 offset-lg-2 offset-md-1">
      <div class="card text-center card-title">
          <div class="pt-2 text-center">  
            <p> {% trans "You don't have access to this page!" %} </p>
        </div>
      </div>
      </div>
      
  {% endif %}
  
</div>

 
{% endblock content %}
