{% extends 'base.html' %}
{% load i18n %}
{% load static %}
{% load socialaccount %} {% block title %}Home{% endblock %}

{% block content %}

<style media="screen">

.feeds {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-around;
  /* justify-content: center; */
}

.feed-image {
    max-width: 100%;
    max-height: 100%;
}

.feed {
  border-radius: 3px;
  box-sizing: border-box;
  background-color: #fff;
  border: 1px solid #efefef;
  width: 100%;
  margin: .5em;
  align-self: center;
  flex-basis: 450px;
}

.feed-header {
  display: flex;
  padding: 0.3em;
  align-items: baseline;
}
.feed-time {
  display: flex;
  align-items: baseline;
  color: #ddd;
  text-decoration: none;
}

.feed-author-name {
  display: flex;
  padding: 0.3em;
  align-items: baseline;
  color: #444;
  flex-grow: 1;
  margin: .5em;
  text-decoration: none;
}

.feed-body {
  padding: 0.5em;
  white-space: normal;
}

.feed-footer {
  display: flex;
  border-top: 1px solid #eee;
  margin: 0 0.3em 0 0.3em ;
  padding: 0.3em 0 0.3em 0;
  align-items: center;
}
.ny {
  /* input box */
  border: 0px;
  outline: none;
  font-family: 'Lato', san-serif;

  flex-grow: 1;
}
.nx, .nz, .mx {
  color: #ddd;
  font-size: 1.5em;
  cursor: pointer;
}
.nz {
  align-self: flex-start;
}
.mx {
  color: red;
}
.feed-author-img {

    width: 40px;
    height: 40px;
    border-radius: 50%;

}
</style>

<!--
<div class="chatonline style-none ps ps--theme_default" data-ps-id="ebfabbf7-d8f1-1a55-a062-05a4148656f7">
          <img src="../../static/assets/images/users/1.jpg" alt="user-img" class="img-circle">
          <span>Varun Dhavan <small class="text-success">online</small></span></a>
 </div> -->
 <div class="d-flex no-block">
     <span><img src="{% static 'logo.png' %}" alt="user" width="50" class="img-circle"></span>
     <span class="m-l-10">
 <h4 class="text-white m-b-0">Govinda</h4>
 <p class="text-white">Actor</p>
 </span>
 <button type="button" class="btn btn-danger btn-circle ml-auto"><i class="fa fa-plus-circle"></i> </button>
 </div>
<div class="container">
  <div class="feeds bg-info">

  <div class="feed">
  <div class="feed-header">
    <a class="feed-author-img"><img class="img img-responsive img-circle" src="{% static 'logo.png' %}" /></a>
    <a class="feed-author-name" href="">Marché Turc </a>
    <a class="feed-time">
    {%if 1%}
    <button type="button" class="btn btn-danger btn-circle"><i class="fa fa-plus-circle"></i> </button>

    {%else%}
    <button type="button" class="btn btn-secondary btn-circle"><i class="fa fa-plus-circle" aria-hidden="true"></i> </button>

    {%endif%}
    </a>
  </div>
  <div class="feed-image">
    <img class="img img-responsive" src="{% static 'image2.jpg' %}" />
  </div>
  <!-- <div class="feed-body">Some creepy texts here....</div> -->
  <div class="feed-footer d-flex justify-content-between">
    {%if 1%}
      <button type="button" class="btn btn-secondary btn-circle"><i class="fa fa-heart"></i> </button>
    {%else%}
    <button type="button" class="btn btn-danger btn-circle"><i class="fa fa-heart"></i> </button>
    {%endif%}


    <div class="text-center">
      add comment
    </div>

<button type="button" class="btn btn-secondary btn-circle"><i class="fa fa-commenting"></i> </button>

  </div>
  <div class="feed-footer d-flex justify-content-between">

    <div class="d-flex flex-column">
      <i class="fa fa-heart"> 55 </i>
      <i class="fa fa-eye" aria-hidden="true"> 555 </i>
    </div>


    <div class="text-center">

    </div>

<button class="btn btn-secondary btn-circle" type="button" data-toggle="collapse" data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
    <i class="fa fa-info-circle" aria-hidden="true"></i>
  </button>
  </div>
  <div class="collapse" id="collapseExample">
  <div class="card card-body">
    Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident.
  </div>
</div>
  </div>
  </div>
   </div>
</div>








<!-- <div class="feeds bg-info">

<div class="feed">
<div class="feed-header">
  <a class="feed-author-img"><img class="img img-responsive" src="{% static 'logo.png' %}" /></a>
  <a class="feed-author-name" href=""> Marhyorh </a>
  <a class="feed-time">3h</a>
</div>
<div class="feed-image">
  <img class="img img-responsive" src="{% static 'image2.jpg' %}" />
</div>
<div class="feed-body">Some creepy texts here....</div>
<div class="feed-footer">
  <i class="fa fa-heart-o nx"></i>
  <input type="text" class="ny" placeholder="Add a comment..."/>
  <i class="fa fa-sort-down nz"></i>
</div>
</div>

<div class="feed">
<div class="feed-header">
  <a class="feed-author-img"><img class="img img-responsive" src="{% static 'logo.png' %}" /></a>
  <a class="feed-author-name" href=""> Marhyorh </a>
  <a class="feed-time">3h</a>
</div>
<div class="feed-image">
  <img class="img img-responsive" src="{% static 'image2.jpg' %}" />
</div>
<div class="feed-body">Some creepy texts here....</div>
<div class="feed-footer">
  <i class="fa fa-heart-o nx"></i>
  <input type="text" class="ny" placeholder="Add a comment..."/>
  <i class="fa fa-sort-down nz"></i>
</div>
</div>
</div> -->





<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

{% endblock %}
