 {% extends 'base.html' %}
 {% load i18n %}
 {% load static %}
 {% load socialaccount %} {% block title %}Home{% endblock %}

 {% block content %}

 <div class="container">
        {% if  request.user.is_superuser %}
        <br>  
        <a class="btn btn-info" href="{% url 'users:list' %}">Manage users</a>
        <br>  
        {% else %}
        {% endif %}
 </div>
<br>  


<div class="container">
  <div class="row">
      <div class="col">
          <div id="carouselExampleIndicators2" class="carousel slide" data-ride="carousel">
             <ol class="carousel-indicators">
                 <li data-target="#carouselExampleIndicators2" data-slide-to="0" class=""></li>
                 <li data-target="#carouselExampleIndicators2" data-slide-to="1" class="active"></li>
                 <li data-target="#carouselExampleIndicators2" data-slide-to="2" class=""></li>
             </ol>
             <div class="carousel-inner" role="listbox">
                 <div class="carousel-item">
                     <img class="img-responsive" src="../static/assets/images/big/img4.jpg" width="100%" alt="First slide">
                 </div>
                 <div class="carousel-item active">
                     <img class="img-responsive" src="../static/assets/images/big/img4.jpg" width="100%" alt="Second slide">
                 </div>
                 <div class="carousel-item">
                     <img class="img-responsive" src="../static/assets/images/big/img4.jpg" width="100%" alt="Third slide">
                 </div>
             </div>
             <a class="carousel-control-prev" href="#carouselExampleIndicators2" role="button" data-slide="prev">
                 <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                 <span class="sr-only">Previous</span>
             </a>
             <a class="carousel-control-next" href="#carouselExampleIndicators2" role="button" data-slide="next">
                 <span class="carousel-control-next-icon" aria-hidden="true"></span>
                 <span class="sr-only">Next</span>
             </a>
         </div>
     </div>
  </div>
</div>


  {% endblock %}
